<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="indoor_robot_gazebo">
  <xacro:macro name="gazebo_drive" params="left_joint right_joint wheel_separation wheel_radius">
    <gazebo reference="base_link">
      <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="left_wheel">
      <mu1>1.2</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
    </gazebo>
    <gazebo reference="right_wheel">
      <mu1>1.2</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
    </gazebo>
    <gazebo>
      <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
        <left_joint>${left_joint}</left_joint>
        <right_joint>${right_joint}</right_joint>
        <wheel_separation>${wheel_separation}</wheel_separation>
        <wheel_radius>${wheel_radius}</wheel_radius>
        <topic>/cmd_vel</topic>
        <odom_topic>/odom</odom_topic>
        <tf_topic>/tf</tf_topic>
        <frame_id>odom</frame_id>
        <child_frame_id>base_footprint</child_frame_id>
        <odom_publish_frequency>50</odom_publish_frequency>
      </plugin>
      <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher"/>
    </gazebo>
  </xacro:macro>
</robot>
